* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .background {
  max-width: 1400px;
  width: 100%;
  height: 680px;
} */
.main1 {
  height: 33.5vw;
  width: 100%;
  background-image: url("/public/images/2023_christmas2_top_bg.jpg");
}
.mainTop {
  display: flex;
  justify-content: space-between;
}
.mainTop .toplogo1 {
  width: 20%;
  height: 600px;
  float: left;
  position: relative;
}
.mainTop .toplogo1 img {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 30%;
}

.Detailbtn1 {
  width: 8%;
  height: 38px;
  z-index: 10;
  position: absolute;
  left: 11%;
  top: 65%;
}

.Topdrink {
  width: 70%;
  position: relative;
  height: 600px;
}

.Detailbtn1 p {
  padding: 0;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  line-height: 34px;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
}

.Detailbtn1 p:hover {
  background-color: #fff;
  color: #c81d30;
  transition: 0.5s;
  text-decoration: underline;

  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.topdrink1 {
  animation: fadein 2s ease 3s;
  -webkit-animation: fadein 2s;
  z-index: 9;
  position: absolute;
  top: 45%;
  left: 5%;
  width: 30%;
}
.topdrink2 {
  animation: fadein 4s ease 3s;
  -webkit-animation: fadein 4s;
  z-index: 8;
  position: absolute;
  top: 43%;
  left: 33%;
  width: 24%;
}
.topdrink3 {
  animation: fadein 5s ease 3s;
  -webkit-animation: fadein 5s;
  z-index: 8;
  position: absolute;
  top: 43%;
  right: 5%;
  width: 30%;
}
.topdrink4 {
  animation: fadein 6s ease 3s;
  -webkit-animation: fadein 7s;
  z-index: 7;
  position: absolute;
  top: 12%;
  left: 5%;
  width: 25%;
}
.topdrink5 {
  animation: fadein 7s ease 3s;
  -webkit-animation: fadein 7s;
  z-index: 7;
  position: absolute;
  top: 12%;
  right: 36%;
  width: 17%;
}
.topdrink6 {
  animation: fadein 8s ease 3s;
  -webkit-animation: fadein 7s;
  z-index: 7;
  position: absolute;
  top: 17%;
  right: 7%;
  width: 17%;
}
