#Coffee{
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
}

#check > button:hover{
    background: #006633;
    color: #fff;
    transition: 0.5s;
}



.look{
    font-size: 18px;
    font-weight: bold;
}
#Coffee > h2{
    padding: 30px 0;
}
#select{
    border-radius: 3px;
}
#selecttitle{
    padding: 20px 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
#check{
    padding: 30px 20px 20px;
    display: flex;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
#check button{
    display: block;
    width: 200px;
    height: 35px;
    line-height: 35px;
    border: none;
    outline: none;
    border-radius: 3px;
    background: #f4f4f1;
    color: #222;
    font-size: 14px;
    text-align: center;   
}
#check button:nth-child(1){
    margin-right: 10px;
}
.selectmenu{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-bottom: 50px;
}
#select ul li{
    font-size: 14px;
    color: #444;
    float: left;
    margin-right: 30px;
    font-weight: normal;
    margin-bottom: 10px;
}
#select ul li label{
    line-height: 14px;
    padding-left: 20px;
}
.menuview {
    width: 100%;

}
.menuview > div{
    width: 100%;

}
.coffeecss{
    height: 800px;
}
.coffeecss2{
    height: 400px;
}
.coffeecss{
    margin-top: 15px;
    width: 100%;
}

.coldbrewitem{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.coldbrewitem >div{
    width: 25%;

    padding: 0 1%;
}
.coldbrewitem >div img{
    width: 100%;
}
.cpname, .cpprice{
    font-size: 14px;
    color: #444;
    height: 54px;
    line-height: 54px;
    text-align: center; 
}