.MenuFive{
    height: 400px;
    margin-top: 20%;
    background-image: url('/public/images/lodoremove2.png') ;
    background-size: cover;
    margin-top: 1px;
}
.awlogo{
    width: 200px;
    height: 180px;
    margin-left: 480px ;
    margin-top: -10px;
}
.menu_btxt5{
    padding-left: 1200px;
    padding-top: 80px;
}
.Menubtn5{
    width: 8%;
    height: 38px;
    cursor: pointer;
    margin-left: 1300px;
    margin-top: -150px;
}
.Menubtn5 p{
    padding: 0;
    color: #000;
    border: 2px solid #000;
    line-height: 34px;
    border-radius: 5px;
    text-align: center;
}
.Menubtn5 p:hover{
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}